.DS_Store
node_modules
/dist
/dist.old

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
analyze-tpu-bundle.html
vite.crt
vite.key
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
