.nyc_output/
node_modules/
false/
out/

# NPM Debug Log
npm-debug.log

## TypeScript compilation ##

*.js.map
*.js

# Keep necessary files
!systemjs.config.js
!karma.conf.js
!karma-test-shim.js
!systemjs.config.extras.js
!tsconfig.app.json
!tsconfig.spec.json
!tsconfig.json
!package-lock.json
!app/migrations/*.js
!react/**.js
!frontend/**.js

app/config/config.json
app/config/tpu.json
app/config/tpu.old.json
app/config/config.old.json
app/config/private.pem
app/config/public.pem
storage/*
frontend_build/
frontend_build.old/
yarn-error.log

.idea
coverage/
app/storage
.DS_Store
.env