.text-gradient {
  font-weight: 500;
  background: -webkit-radial-gradient(#096fea, #0166ea, #0190ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold .text-gradient {
  font-weight: 500;
  background: -webkit-radial-gradient(#ffdb1b, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-patch {
  left: 256px !important;
  width: calc(100% - 256px) !important;
}

.header-patch-workspaces {
  right: -256px !important;
  width: calc(100% - 512px) !important;
}

.sidebar-patch {
  height: 100vh !important;
  top: 0px !important;
  max-height: calc(100% - 0px) !important;
  transform: translateX(0%) !important;
  width: 256px !important;
}

.rounded-xl {
  border-radius: 12px !important;
}

.v-btn {
  text-transform: none !important;
}

.v-overlay__scrim {
  background-color: rgba(142, 142, 142, 0.2) !important;
}

.v-btn--variant-outlined,
.v-chip--variant-outlined, .v-card--variant-outlined {
  border-color: hsla(0, 0%, 100%, 0.12) !important;
}

.v-list-item__prepend > .v-icon,
.v-list-item__append > .v-icon {
  opacity: 1 !important;
}

.v-tooltip .v-overlay__content {
  background-color: #222222 !important;
  color: #fff !important;
}

.v-table {
  border-radius: 0 0 12px 12px !important;
  background-color: #161616 !important;
  elevation: 0 !important;
}

.v-table tbody,
.v-table thead,
.v-table tr,
.v-table th,
.v-table td,
.v-table table {
  background-color: #161616 !important;
}

.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-application {
  color: unset !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black #151515;
}

div::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #151515;
}

*::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 20px;
  border: 3px solid #151515;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  color: #0190ea;
}

.pointer {
  cursor: pointer;
}

.emoji {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 0.15em;
}

.emoji-large {
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 0.15em;
}

.emoji-large-text {
  font-size: 3.5em;
}

.message:hover {
  background-color: #222222 !important;
}

.message-actions {
  position: absolute !important;
  top: 0;
  right: 0;
  margin-top: -34px;
  margin-right: 5px;
  visibility: hidden;
}

.no-hide {
  visibility: visible;
  position: relative;
}

.message:hover .message-actions {
  visibility: visible;
  position: relative;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.cover {
  object-fit: cover;
}

.replying-message {
  background-color: #181818;
}

:root::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.mention {
  background-color: rgb(1, 144, 234, 0.1);
  border-radius: 4px;
  padding: 2px 4px;
  color: rgb(1, 144, 234);
}

.mention .v-icon {
  margin-right: 0.1em;
}

.message-jumped {
    background-color: rgb(1, 144, 234, 0.2);
}