<?xml version='1.0' encoding='utf-8'?>
<widget id="com.troplo.privateuploader" android-packageName="com.troplo.privateuploader" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TPU</name>
    <description>TPU is a private file hosting suite with extra features such as chatting, document editing, and more.</description>
    <author email="troplo@troplo.com" href="https://troplo.com">
        TroploServices
    </author>
    <content src="/" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="https://images.flowinity.com" />
    <access origin="https://images.flowinity.com/*" />
    <access origin="https://i.troplo.com/*" />
    <access origin="https://i.troplo.com" />
    <access origin="https://privateuploader.com" />
    <access origin="https://privateuploader.com/*" />
    <access origin="https://api.privateuploader.com" />
    <access origin="https://api.privateuploader.com/*" />
    <preference name="hostname" value="images.flowinity.com" />
    <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
    <icon density="mdpi" background="@color/background" foreground="res/drawable/tpu_foreground.xml" src="res/mipmap-mdpi/tpu.png" />
    <icon density="hdpi" background="@color/background" foreground="res/drawable/tpu_foreground.xml" src="res/mipmap-hdpi/tpu.png" />
    <icon density="xhdpi" background="@color/background" foreground="res/drawable/tpu_foreground.xml" src="res/mipmap-xhdpi/tpu.png" />
    <icon density="xxhdpi" background="@color/background" foreground="res/drawable/tpu_foreground.xml" src="res/mipmap-xxhdpi/tpu.png" />
    <icon density="xxxhdpi" background="@color/background" foreground="res/drawable/tpu_foreground.xml" src="res/mipmap-xxxhdpi/tpu.png" />
</widget>
