<!DOCTYPE html>
<html lang="en">
<head>
    <title>Preparing Frontend - TroploPrivateUploader</title>
    <style>
        :root {
            --v-theme-background: 0, 0, 0;
            background-color: rgb(var(--v-theme-background));
            color: white;
        }

        h1 {
            font-size: 50px;
        }

        body {
            font: 20px Helvetica, sans-serif;
        }

        .container {
            display: block;
            text-align: left;
            width: 650px;
            margin: 0 auto;
        }

        a:hover {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>

<article class="container">
    <h1>Frontend is compiling...</h1>
    <div>
        <p>The TPU frontend has not yet been compiled. The backend handles the compilation for you automatically.
            If it has not yet compiled within 5 minutes.
            Please check the backend process logs for errors.<br>
            <small>
                This page will not refresh automatically.
            </small>
            <br><br>
            <code>
                docker logs {container name}
            </code>
        <p>or</p>
        <code>
            journalctl -u {service name} -f -n 200
        </code>
        <br>
        <p>The file was expected to be at: <code><%= path %></code></p>
        </p>
    </div>
</article>
</html>
